<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/sala.css">
        <title> Sala de espera </title>
    </head>
	<body class="sala">
        <nav class="navbar navbar-light bg-warning">
            <a class="navbar-brand mx-auto" href="/">Dominó</a>
            <% if(user) {%>
            <p id="user"> <%=  user.usuario %>   </p> 
            <a href="/logout" class="btn btn-light btn-sm">  
                logout
            </a>
                <% } else {%>
                    <p id="user"></p>
                    <a href="/login" class="btn btn-light btn-sm">  
                        Log in to play
                    </a>
                <% } %> 
        </nav>
        <div class = 'container-fluid'>
            <div id='' class='row'>
                <div class='d-x1-block col-sm-2 bd-toc'> 
                    <div class = ''>
                        <div class='card-header'>
                            Users online:
                        </div> 
                        <div id="users" class="cuerpo">
                        </div>
                    </div>
                </div>
                <div class='col-sm-5 bd-toc'> 
                    <div class =''> 
                        <div class  ='card-header'>
                            Domino Tables:
                        </div> 
                        <div id="partidas" class = "card-body cuerpo">
                                
                        </div>
                    </div>
                </div>
                <div class='col-sm-4' id='final'> 
                    <div class = ''>
                        <div class='card-header'>
                            Set up your table: 
                        </div>  
                        <div id="" class="card-body cuerpo">
                          <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Match name: </label>
                              <input type="name" id="nameMatch" class="form-control"  placeholder="Match name">
                              <label for="exampleInputEmail1">Bet </label>
                              <input type="number" id="betMatch" class="form-control"  placeholder="Enter a bet">
                              <label for="exampleInputEmail1">Puntos pa ganar xd </label>
                              <select class="form-control" id="pointsMatch" placeholder="Select points">
                                <option>Select</option>
                                <option>50</option>
                                <option>100</option>
                                <option>150</option>
                                <option>200</option>
                              </select>
                            </div>
                            <button id='createMatch' type="submit" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/MathGenerate.js"></script>
        <script src="/js/socket.js"></script>
    </body>
</html>
